.first-slide {
  &__ice {
    &_1 {
      width: 216px;
      height: 205px;
      top: 555px;
      left: 20px;
    }

    &_2 {
      width: 106px;
      height: 101px;
      top: 227px;
      left: 666px;
    }

    &_3 {
      width: 38px;
      height: 38px;
      top: 112px;
      left: 911px;
    }

    @for $i from 1 through 3 {
      &_#{$i} {
        background-image: url('../images/first-slide-ice-#{$i}.png');
      }
    }    
  }
}