-
	let targets = [
		{
			title: 'Гипогликемия',
			className: 'left'
		},
		{
			title: 'Цель по HbA1c',
			className: 'top'
		},
		{
			title: 'Осложнения СД',
			className: 'bottom'
		},
		{
			title: 'СС риски',
			className: 'right'
		}
	]