.slider
	.slider__list
		.slider__item.slider__item_1
			.slider__title Звенья патогенеза СД2
			+slide(1, 'first')

		.slider__item.slider__item_2
			.slider__title Смертельный октет
			+slide(2, 'second')

		.slider__item.slider__item_3
			.slider__title Звенья патогенеза СД2
			+slide(3, 'third')

	.slider__control
		.slider__switcher-container
			.slider__switcher
		.slider__lines
			.slider__line.slider__line_active
			.slider__line

		.slider__dates
			.slider__date.slider__date_1988 1988
			.slider__date.slider__date_2009 2009
			.slider__date.slider__date_2016 2016