$background-color: #23249a;

$font-white-color: #fff;
$font-blue-color: #0d319c;

$pagination-active-color: #f78b1f;
$pagination-color: #fff;

$target-bg: rgb(247, 139, 31);
$target-border: #cf1437;

$slider-control-color: #d1eaff;